@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --slate: #475569;
  }
}

.DisableScrollBar {
  scroll-behavior: smooth;
}
.DisableScrollBar::-webkit-scrollbar {
  display: none;
}

.DisableScrollBar::-webkit-scrollbar-thumb {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* disables input ring on focus */
input:focus { 
  outline: none;
}

.dashboardBody{
  height: calc(100vh - 74px)
}


@layer components {
  .navActions button{
    @apply flex justify-center items-center h-10 w-10 rounded-lg hover:bg-gray-100 dark:hover:bg-slate-500
  }
  .barPosition{
    @apply flex justify-center gap-4 w-[248px] h-[72px] pt-2
  }
  .barPosition li{
    @apply flex gap-1 justify-between items-center max-h-[40px] ring-slate-300 rounded-md ring-1 py-2 px-4 hover:bg-slate-50 text-sm !text-deep_red
  }
  .barPosition li p{
    @apply text-black
  }
  .ant-menu-submenu{
    @apply !hidden
  }
  .sidebar ul li{
    @apply self-center justify-self-center !min-h-[57px] !h-[100%] !w-full !m-0 !rounded-none border-b dark:border-slate-600 ring-2
  }
  .sidebar ul li span{
    @apply dark:text-white 
  }
  i{
    @apply dark:!text-white
  }

}


/* Menu data Do Not Delete*/
/* // const sidebarData: MenuItem[] = [
    //     { key: 1, icon: "", label: "Dashboard" },
    //     {
    //         key: 2,
    //         icon: <FontAwesomeIcon icon={faFolder} className=" h-6 w-6 dark:!text-white " />, 
    //         label: "Raporal"
    //     },
    //     { 
    //         key: 3, 
    //         icon: "", 
    //         label: <div className=" " >Kadro</div>,
    //         children: [
    //             { key: '11', label: 'Option 1' },
    //             { key: '12', label: 'Option 2' },
    //             { key: '13', label: 'Option 3' },
    //             { key: '14', label: 'Option 4' },
    //         ]
    //      },
    //     { 
    //         key: 4, 
    //         icon: "", 
    //         label: "Blog",
    //         children: [
    //             { key: '11', label: 'Option 1' },
    //             { key: '12', label: 'Option 2' },
    //             { key: '13', label: 'Option 3' },
    //             { key: '14', label: 'Option 4' },
    //         ]
    //     },
    //     { 
    //         key: 5, 
    //         icon: "", 
    //         label: "Sayfalar",
    //         children: [
    //             { key: '11', label: 'Option 1' },
    //             { key: '12', label: 'Option 2' },
    //             { key: '13', label: 'Option 3' },
    //             { key: '14', label: 'Option 4' },
    //         ]
    //     },
    //     { 
    //         key: 6, 
    //         icon: "", 
    //         label: "Kullanıcılar",
    //         children: [
    //             { key: '11', label: 'Option 1' },
    //             { key: '12', label: 'Option 2' },
    //             { key: '13', label: 'Option 3' },
    //             { key: '14', label: 'Option 4' },
    //         ]
    //     },
    //     { 
    //         key: 7, 
    //         icon: "", 
    //         label: "Müşteriler",
    //         children: [
    //             { key: '11', label: 'Option 1' },
    //             { key: '12', label: 'Option 2' },
    //             { key: '13', label: 'Option 3' },
    //             { key: '14', label: 'Option 4' },
    //         ]
    //     },
    //     { key: 8, icon: "", label: "Muhasebe" },
    //     { key: 9, icon: "", label: "Aboneler" },
    //     { key: 10, icon: "", label: "Duyuru Modal" },
    //     { 
    //         key: 11, 
    //         icon: "",
    //         label: "Ürünler",
    //         children: [
    //             { key: '11', label: 'Option 1' },
    //             { key: '12', label: 'Option 2' },
    //             { key: '13', label: 'Option 3' },
    //             { key: '14', label: 'Option 4' },
    //         ]
    //     },
    //     { 
    //         key: 12, 
    //         icon: "", 
    //         label: "S.S.S", 
    //         children: [
    //             { key: '11', label: 'Option 1' },
    //             { key: '12', label: 'Option 2' },
    //             { key: '13', label: 'Option 3' },
    //             { key: '14', label: 'Option 4' },
    //         ]
    //     },
    // ] */